<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='../public/stylesheets/index.css' />
    <link rel='stylesheet' href='../public/stylesheets/admin_login.css' />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        const submitBtn = async () => {

            const loginForm = {
                id: document.getElementById('inputId').value,
                pw: document.getElementById('inputPw').value,
            }


            console.log(loginForm)
            
            const response = await axios.post(
                "http://localhost:5000/admin/loginProcess",
                {
                    id: loginForm.id,
                    pw: loginForm.pw
                }
            );

            if (response.data){
                alert("로그인 성공");
                window.location.href = '/admin';
            } else {
                alert("아이디 또는 패스워드를 확인해주세요.");
            }
        }
        
    </script>
  </head>
  <body>
    

    <div class='mobile_loginBackground'>
        <div class='loginTitle'>k-marintraffic<br/>선박 위치 모니터링</div>

        <div class='loginWrap'>
            <div class='login'>
                <div class='inputWrap'>
                    <label htmlFor="inputId" id="labelId">아이디</label>
                    <input type="text" id="inputId" name="id" />
                </div>
                
                <div class='inputWrap'>
                    <label htmlFor="inputPw">비밀번호</label>
                    <input type="password" id="inputPw" name="pw" />
                </div>

                <p id="loginMsg">! 아이디를 입력해주세요</p>
                

                <input type="submit" value="로그인" onClick="submitBtn()"/>
            </div>
            
        </div>
        
    </div>

  </body>
</html>
